@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden !important;
}
